// PRIMARY COLOURS
$primaryColor1: hsl(260, 100%, 95%);
$primaryColor2: hsl(264, 82%, 80%);
$primaryColor3: hsl(263, 55%, 52%);

// NEUTRAL COLORS
$colorWhite: hsl(0, 0%, 100%);
$color-100: hsl(214, 17%, 92%);
$color-200: hsl(0, 0%, 81%);
$color-400: hsl(224, 10%, 45%);
$color-500: hsl(217, 19%, 35%);
$colorDarkBlue: hsl(219, 29%, 14%);
$clorBlack: hsl(0, 0%, 7%);

// FONTS

$primaryFont: "Barlow Semi Condensed", sans-serif;
